@baseTextColor: #000000;
@linkColor: #3e5c76;
@hoverColor: darken(@linkColor, 20%);

.appearance (@param: none) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.transition (@effects) {
    -webkit-transition: @effects;
    -moz-transition: @effects;
    -ms-transition: @effects;
    -o-transition: @effects;
    transition: @effects;
}
.transform (@effects) {
  -moz-transform: @effects;
  -ms-transform: @effects;
  -webkit-transform: @effects;
  -o-transform: @effects;
  transform: @effects;
}

.transform-origin(@params) {
  -webkit-transform-origin: @params;
  -moz-transform-origin: @params;
  -o-transform-origin: @params;
  -ms-transform-origin: @params;
  transform-origin: @params;
}
.shadow(@style, @c) when (iscolor(@c)) {
    -webkit-box-shadow: @style @c;
    -moz-box-shadow: @style @c;
    box-shadow: @style @c;
}
.shadow2(@style, @c, @style2, @c2) when (iscolor(@c)) {
    -webkit-box-shadow: @style @c, @style2 @c2;
    -moz-box-shadow: @style @c, @style2 @c2;
    box-shadow: @style @c, @style2 @c2;
}
.shadow_none {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.gradient(@c0, @origin: top, @c1, @c2) {
    background-color: @c0;
    background-image: -webkit-linear-gradient(@origin, @c1, @c2);
    background-image: -o-linear-gradient(@origin, @c1, @c2);
    background-image: linear-gradient(@origin, @c1, @c2);
}

.radius(@radius: 3px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

/* fonts */

@import url(https://fonts.googleapis.com/css?family=PT+Serif);

@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proxima_nova_bold-webfont.eot');
  src: url('../fonts/proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
  url('../fonts/proxima_nova_bold-webfont.woff') format('woff'),
  url('../fonts/proxima_nova_bold-webfont.ttf') format('truetype'),
  url('../fonts/proxima_nova_bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: 700;
  font-style: normal;

}
@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proxima_nova_extrabold-webfont.eot');
  src: url('../fonts/proxima_nova_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima_nova_extrabold-webfont.woff2') format('woff2'),
  url('../fonts/proxima_nova_extrabold-webfont.woff') format('woff'),
  url('../fonts/proxima_nova_extrabold-webfont.ttf') format('truetype'),
  url('../fonts/proxima_nova_extrabold-webfont.svg#proxima_nova_thextrabold') format('svg');
  font-weight: 900;
  font-style: normal;

}
@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proxima_nova_light-webfont.eot');
  src: url('../fonts/proxima_nova_light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima_nova_light-webfont.woff2') format('woff2'),
  url('../fonts/proxima_nova_light-webfont.woff') format('woff'),
  url('../fonts/proxima_nova_light-webfont.ttf') format('truetype'),
  url('../fonts/proxima_nova_light-webfont.svg#proxima_nova_ltlight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proxima_nova_light_italic-webfont.eot');
  src: url('../fonts/proxima_nova_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima_nova_light_italic-webfont.woff2') format('woff2'),
  url('../fonts/proxima_nova_light_italic-webfont.woff') format('woff'),
  url('../fonts/proxima_nova_light_italic-webfont.ttf') format('truetype'),
  url('../fonts/proxima_nova_light_italic-webfont.svg#proxima_novalight_italic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proxima_nova_semibold-webfont.eot');
  src: url('../fonts/proxima_nova_semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima_nova_semibold-webfont.woff2') format('woff2'),
  url('../fonts/proxima_nova_semibold-webfont.woff') format('woff'),
  url('../fonts/proxima_nova_semibold-webfont.ttf') format('truetype'),
  url('../fonts/proxima_nova_semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

.PTSerif {
  font-family: 'PT Serif', serif;
}

.proximaNova {
  font-family: 'proxima_nova', Arial, Verdana, sans-serif;
}

.fontAwesome {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
}

.bodyFont {
  .proximaNova;
  color: @baseTextColor;
  font-size: 16px;
  font-weight: 300;
}

/* end fonts */

/* responsive rules */
.medium_device(@rules) {
  @media screen and (max-width: 1199px) {
    @rules();
  }
}

.tablets(@rules) {
  @media screen and (max-width: 991px) {
    @rules();
  }
}

.phones (@rules) {
  @media screen and (max-width: 767px) {
    @rules();
  }
}
/* end responsive rules */


html {
  //overflow: hidden;
  height: 100%;
  * {
    max-height: 999999px;
  }
}

body  {
  .bodyFont;
  background-color: #ffffff;
  padding-right: 0 !important;
  overflow: auto;
  height: 100%;
}

/* unset bs3 setting */
.modal-open {
  overflow: auto;
}

a {
  .transition(all 0.1s);
  outline: 0;

  &:hover {
  }

  &:active,
  &:focus {
    outline: 0;
  }
}


img {border: 0;}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

.clear {clear: both;}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both !important;
    height: 0;
  }
  * html & {
    position: relative;
    zoom: 1
  }
  * + html & {
    position: relative;
    zoom: 1
  }
}

#header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #ffffff;
  z-index: 500;
  .shadow(0 0 10px, rgba(0, 0, 0, 0.3));

  .phones({
    position: relative;
  });
}

#container {
  padding-top: 100px;
  position: relative;
  z-index: 1;

  .phones({
    padding-top: 0;
  });
}

.header_content,
.footer_content {
  position: relative;
  .clearfix;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  .logo {
    text-indent: -100000px;
    background: url(../images/logo.png) 0 0 no-repeat;
    width: 141px;
    height: 57px;
    float: left;
    margin: 20px 0;
  }

  .city {
    float: left;
    background: url(../images/sep.png) 0 0 no-repeat;
    height: 41px;
    line-height: 41px;
    .PTSerif;
    font-size: 18px;
    padding-left: 17px;
    margin: 30px 0 30px 17px;
  }

  .phones {
    float: right;
    margin: 20px 0;
    padding-left: 55px;
    background: url(../images/icon_phone.png) 0 50% no-repeat;

    .phones({
      clear: left;
      padding-left: 0;
      float: none;
      background: none;
    });

    div {
      font-weight: bold;
      font-size: 26px;
      line-height: 1;
      margin-bottom: 5px;

      .phones({
        font-size: 18px;
      });

      &:last-child {
        margin-bottom: 0;
      }

      span {
        font-size: 12px;
      }
    }
  }
}

.section {
  width: 100%;

  .section_container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    &.animate {
      opacity: 0;
      .transition(all 0.6s);

      &.fromleft {
        transform: translate(-100px, 0px);
      }
      &.fromright {
        transform: translate(100px, 0px);
      }
      &.frombottom {
        transform: translate(0px, 100px);
      }

      &.show {
        opacity: 1;
        transform: translate(0px, 0px);
      }
    }


  }

  .section_title {
    .PTSerif;
    font-size: 48px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 30px;

    .phones({
      font-size: 24px;
      text-align: center;
      line-height: 1.2;
    });
  }

  .section_description {
    line-height: 1.6;
  }

  &.section01 {
    min-height: 727px;
    background: #fff url(../images/layer01.jpg) 50% 0 no-repeat;

    -webkit-background-size: cover;
    background-size: cover;

    .section_container {
      padding-top: 90px;
      padding-bottom: 90px;
      color: #ffffff;

      .tablets({
        padding-top: 40px;
        padding-bottom: 40px;
      });

    }

    .section_description {
      font-size: 17px;
      margin-bottom: 30px;
    }
  }
  &.section02 {
    min-height: 1029px;
    background: #e9e9ea url(../images/layer02.jpg) 50% 100% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;


    .section_container {
      padding-top: 125px;
      padding-bottom: 140px;

      .tablets ({
        padding-top: 40px;
        padding-bottom: 40px;
      });
    }

  }
  &.section03 {
    min-height: 511px;
    background: #5e5e5e url(../images/layer03.jpg) 50% 0 no-repeat;

    -webkit-background-size: cover;
    background-size: cover;

    .section_container {
      padding-top: 90px;
      padding-bottom: 100px;
      color: #ffffff;

      .tablets({
        padding-top: 40px;
        padding-bottom: 40px;
      });
    }

    .section_title {
      margin-bottom: 70px;

      .phones({
        margin-bottom: 30px;
      });
    }

    a {
      color: #ffffff;
      text-decoration: underline;

      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }

  }
  &.section04 {
    min-height: 821px;
    background: #fff url(../images/layer04.jpg) 50% 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    .section_container {
      padding-top: 90px;
      padding-bottom: 50px;

      .tablets({
        padding-top: 40px;
        padding-bottom: 40px;
      });
    }

    .section_title {
      font-size: 42px;
      line-height: 1.3;

      .phones({
        font-size: 24px;
      });
    }

    .section_description {
      color: #767676;
      margin-bottom: 60px;
      font-size: 17px;

      .phones({
        margin-bottom: 30px;
      });

      p {
        margin-bottom: 1.5em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &.section05 {
    min-height: 511px;
    background: #fbfbfb url(../images/wb57.jpg) 50% 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    .section_container {
      padding-top: 90px;
      padding-bottom: 40px;

      .tablets({
        padding-top: 40px;
      });
    }

    .section_title {
      font-size: 42px;
      line-height: 1.3;

      .phones({
        font-size: 24px;
      });
    }

  }
  &.section06 {
    min-height: 523px;
    background: #a80b0b url(../images/layer06.jpg) 50% 0 no-repeat;

    -webkit-background-size: cover;
    background-size: cover;

    .section_container {
      padding-top: 90px;
      padding-bottom: 40px;
      color: #ffffff;

      .tablets({
        padding-top: 40px;
      });

      .section_title {
        margin-bottom: 60px;

        .tablets({
          margin-bottom: 30px;
        });
      }

      .section_description {
        font-size: 17px;
        margin-bottom: 40px;

        .tablets({
          margin-bottom: 30px;
        });
      }

      .contact_phones {
        background: url(../images/icon_phone_white.png) 0 50% no-repeat;
        padding-left: 55px;
        margin-bottom: 50px;

        .tablets({
          margin-bottom: 30px;
        });

        div {
          margin-bottom: 5px;
          font-weight: bold;
          font-size: 26px;
          line-height: 1;

          .phones({
            font-size: 18px;
          });

          span {
            font-size: 12px;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .contact_address {
        background: url(../images/icon_place.png) 0 50% no-repeat;
        padding-left: 55px;
        margin-bottom: 30px;

        div {
          margin-bottom: 5px;
          font-weight: bold;
          font-size: 26px;
          line-height: 1;

          .phones({
            font-size: 18px;
          });

          span {
            font-size: 12px;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &.section_testimonials {
    .section_title {
      font-size: 42px;
      line-height: 1.3;
      margin-bottom: 70px;

      .tablets({
        margin-bottom: 30px;
      });

      .phones({
        font-size: 24px;
      });
    }

    .section_container {
      padding-top: 90px;
      padding-bottom: 90px;

      .tablets({
        padding-top: 40px;
        padding-bottom: 40px;
      });
    }
  }

  &.section_form {
    .gradient(#e8e7e8, to bottom, #ffffff, #dddcdd);
    border-bottom: 7px solid #bfbfbf;

    .section_container {
      padding-top: 40px;
      padding-bottom: 25px;

      .phones({
        padding-top: 20px;
      });
    }
  }

}

.form-control {

  .radius(0);
  font-size: 14px;
  height: 33px;
  background-color: #dcdcdc;
  padding: 6px 12px 5px 12px;

  &::-webkit-input-placeholder {
    color: #7f7f7f;
  }
  &::-moz-placeholder {
    color: #7f7f7f;
  }
  &:-moz-placeholder {
    color: #7f7f7f;
  }
  &:-ms-input-placeholder {
    color: #7f7f7f;
  }
  &:input-placeholder {
    color: #7f7f7f;
  }
}

.reg_form_hor {
  .title {
    .PTSerif;
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 20px;

    .phones({
      text-align: center;
    });
  }

  label,
  .control-label {
    display: none;
  }

  .buttons {
    text-align: center;
  }
}

.reg_form_vert {
  .radius(12px);
  padding-bottom: 8px;
  background-color: #bfbfbf;
  .shadow(0 10px 15px -5px, rgba(0, 0, 0, 0.5));
  max-width: 330px;
  margin: 0 auto;

  .reg_form_inner {
    padding: 40px 38px 30px 38px;
    .radius(12px);
    .shadow(inset 0 0 10px, #fff);
    .gradient(#e8e7e8, to bottom, #ffffff, #dddcdd);

    .phones({
      padding-left: 17px;
      padding-right: 17px;
    });
  }

  label,
  .control-label {
    display: none;
  }

  .form-group {
    margin-bottom: 28px;

  }

  .buttons {
    margin-top: -10px;
    text-align: center;
  }

}


.button {
  background: url(../images/button.png) 0 0 no-repeat;
  width: 256px;
  height: 82px;
  line-height: 82px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.38);
  font-weight: 600;
  font-size: 17px;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  .appearance(none);
  padding: 0;
  border: none;
  margin: 0;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
    color: #ffffff;
    text-decoration: none;
  }

  &:active,
  &:focus {
    color: #ffffff;
    text-decoration: none;
  }
}

.tabs_wrapper {

  .tab {
    display: none;
    .clearfix;

    .description {
      .clearfix;
      margin-bottom: 30px;

      img {
        float: left;

        .tablets({
          float: none;
          margin-bottom: 20px;
          margin-left: auto;
          margin-right: auto;
          display: block;
          max-width: 100%;
        });
      }

      .desc {
        margin-left: 400px;
        color: #393939;

        .tablets({
          margin-left: 0;
        });
      }
    }
  }

  .tabs_nav {
    margin-left: 6px;
    .clearfix;
    position: relative;
    margin-bottom: 45px;

    .phones({
      margin-left: 0;
      border-bottom: 4px solid #0f6796;
      margin-bottom: 20px;
    });

    li {
      float: left;
      position: relative;
      z-index: 1;
      margin-right: 15px;
      top: -2px;

      .phones({
        margin-right: 5px;
        top: 0;
      });

      &.line {
        position: absolute;
        right: 0;
        left: 6px;
        bottom: 0;
        height: 4px;
        background-color: #0f6796;
        z-index: 200;
        top: auto;

        .phones({
          display: none;
        });
      }

      &.active {
        z-index: 100;
        top: 0;


        a {
          background: url(../images/tab_selected.png) 0 0 no-repeat;
          line-height: 76px;
          padding-top: 0;
          color: #ffffff;
          &:after {
            background: url(../images/tab_selected_right.png) 0 0 no-repeat;
          }

          .phones({
            background-image: none;
            .gradient(#48a7d8, to bottom, #66bdea, #3397cb);
            line-height: 30px;
          });

        }
      }

      &:first-child {
        margin-left: -6px;

        .phones({
          margin-left: 0;
        });
      }

      a {
        background: url(../images/tab.png) 0 0 no-repeat;
        .PTSerif;
        font-size: 27px;
        display: inline-block;
        height: 78px;
        line-height: 76px;
        padding-top: 2px;
        text-transform: uppercase;
        padding-left: 35px;
        padding-right: 15px;
        position: relative;
        color: #000000;
        text-decoration: none;
        .transition(none);

        &:after {
          content: '';
          display: block;
          position: absolute;
          background: url(../images/tab_right.png) 0 0 no-repeat;
          width: 42px;
          height: 78px;
          right: -42px;
          top: 0;

          .phones({
            display: none;
          });
        }

        .phones({
          background-image: none;
          .gradient(#ececec, to bottom, #fefefe, #dedede);
          height: 30px;
          padding-top: 0;
          line-height: 30px;
          font-size: 16px;
          .radius(5px 5px 0 0);
          .shadow(0 0 5px, rgba(0, 0, 0, 0.3));
          padding-left: 10px;
          padding-right: 10px;
        });

      }
    }
  }
}

.options_wrapper {
  .title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 30px;
  }

  .option_content {
    display: none;
  }

  .options_nav {
    max-width: 370px;
    width: 100%;
    float: left;
    margin-right: 35px;
    margin-bottom: 20px;

    .tablets({
      float: none;
      margin-right: 0;
    });

    li {
      width: 100%;
      margin-bottom: 6px;
      border-bottom: 3px solid #bfbfc0;
      .radius(5px);

      a {
        display: block;
        width: 100%;
        .radius(5px);
        //border: 1px solid #ffffff;
        .shadow(inset 0 0 0 1px, #fff);
        .gradient(#ececec, to bottom, #fefefe, #dedede);
        color: #000000;
        position: relative;
        text-decoration: none;
        .PTSerif;
        font-size: 20px;
        padding: 15px 25px;

        &:after {
          content: '\f105';
          .fontAwesome;
          position: absolute;
          right: 20px;
          font-size: 36px;
          line-height: 1;
          top: 50%;
          margin-top: -18px;
          color: #3497cc;
        }

        &:hover {
          .gradient(#ececec, to top, #fefefe, #dedede);
        }
      }

      &.active {
        border-bottom: 4px solid #0f6796;
        background-color: #0f6796;

        a {
          border: none;
          color: #ffffff;
          .gradient(#48a7d8, to bottom, #66bdea, #3397cb);
          .shadow_none();

          &:after {
            color: #ffffff;
          }

          &:hover {
            .gradient(#48a7d8, to bottom, #66bdea, #3397cb);
          }
        }
      }
    }

  }

  .option_content {
    float: left;

    .tablets({
      float: none;
    });

    img {
      max-width: 100%;
      display: block;

    }
  }
}


.how {
  .clearfix;
  margin-bottom: 0;

  li {
    float: left;
    width: 170px;
    margin-right: 30px;
    position: relative;
    font-weight: bold;
    text-align: center;
    padding-top: 125px;

    .tablets({
      margin-right: 15px;
    });

    .phones({
      margin-right: 0; float: none;
      margin-bottom: 20px;
      width: 100%;
    });

    &:nth-child(1) {
      background: url(../images/how1.png) 50% 0 no-repeat;
    }
    &:nth-child(2) {
      background: url(../images/how2.png) 50% 0 no-repeat;

      &:after {
        height: 24px;
        background: url(../images/arr2.png) 0 0 no-repeat;
        top: 50px;
      }
    }
    &:nth-child(3) {
      background: url(../images/how3.png) 50% 0 no-repeat;
    }
    &:nth-child(4) {
      background: url(../images/how4.png) 50% 0 no-repeat;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      background: url(../images/arr1.png) 0 0 no-repeat;
      width: 72px;
      height: 23px;
      top: 30px;
      right: -50px;

      .tablets({
        right: -44px;
      });

      .phones({
        display: none;
      });
    }

    &:last-child {
      margin-right: 0;

      &:after {
        display: none;
      }
    }
  }
}

.delivery {
  .title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 30px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 100%;

    .phones({
      margin-left: 0;
      margin-right: 0;
    });
  }
}


.why {
  .clearfix;
  margin-bottom: 0;

  li {
    width: 170px;
    margin-right: 35px;
    padding-top: 125px;
    text-align: center;
    font-weight: bold;
    float: left;

    .tablets({
      margin-right: 15px;
    });

    .phones({
      float: none;
      margin-bottom: 20px;
      width: 100%;
    });

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(1) {
      background: url(../images/why1.png) 50% 0 no-repeat;
    }
    &:nth-child(2) {
      background: url(../images/why2.png) 50% 0 no-repeat;
    }
    &:nth-child(3) {
      background: url(../images/why3.png) 50% 0 no-repeat;
    }
    &:nth-child(4) {
      background: url(../images/why4.png) 50% 0 no-repeat;
    }

  }
}

.testimonial {
  text-align: center;

  img {
    .radius(50%);
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .description {
    font-style: italic;
    font-size: 17px;
    margin-bottom: 20px;
  }

  .name {
    font-size: 25px;
    .PTSerif;
  }
}

.rewards {
  padding: 0 50px;
  width: 100%;
  position: relative;

  .tablets({
    margin-bottom: 30px;
  });
}

.action_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 505;
  height: 10px;
  .shadow(0 0 16px, rgba(0, 0, 0, 0.23));
  background-color: #fdd64d;
  text-align: center;
  width: 100%;

  .phones({
    position: relative;
  });

  & + #header {
    .tablets({
      padding-top: 60px;
    });
  }

  .action_button {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -115px;
    width: 230px;
    .radius(0 0 10px 10px);
    height: 60px;
    line-height: 54px;
    font-size: 27px;
    .gradient(#fcd449, to bottom, #fcd449, #efc223);

    a {
      line-height: 1;
      color: #ff0000;
      position: relative;
      border-bottom: 1px dashed #ff0000;
      .PTSerif;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

      &:active,
      &:focus {
        color: #ff0000;
        text-decoration: none;
      }

      &:before,
      &:after {
        .fontAwesome;
        top: 5px;
        position: absolute;
      }

      &:before {
        content: '\f101';
        left: -20px;
      }
      &:after {
        content: '\f100';
        right: -20px;
      }
    }

  }
}

.action-modal {
  .modal-dialog {
    width: 100%;
    max-width: 870px;

    .phones({
      margin: 0;
    });
  }

  .modal-content {
    background-color: #bfbfbf;
    padding-bottom: 7px;
    .radius(10px);

    .phones({
      .radius(0);
    });
  }

  .modal-body {
    .gradient(#e9e8e9, to bottom, #ffffff, #e1e0e1);
    .radius(10px);
    padding: 30px 40px;

    .phones({
      .radius(0);
      padding: 20px;
    });
  }

  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 10;
    font-size: 34px;
    color: #737373;
    opacity: 1;
    .transition(all 0.3s);

    &:hover {
      color: #000000;
    }

    &:after {
      .fontAwesome;
      content: '\f00d';
    }
  }

  .buttons {
    text-align: right;

    .phones({
      text-align: center;
    });

    .button {
      margin-right: -5px;
    }

  }

}

.message_success {
  text-align: center;

  .title {
    .PTSerif;
    font-size: 29px;
    position: relative;

    &:after {
      .fontAwesome;
      display: block;
      content: '\f00c';
      color: #04c12c;
      font-size: 74px;
      line-height: 1;
      text-align: center;
      margin: 20px 0;
    }
  }

  .description {
    font-size: 18px;
    margin: 0 20px;

    .phones({
      margin: 0;
    });

    ul {
      font-weight: bold;
    }
  }
}

.action_description {

  .countdown_wrapper {
    text-align: center;
    margin-bottom: 20px;

    .title {
      font-size: 29px;
      line-height: 1;
      .PTSerif;

      .phones({
        margin-bottom: 10px;
      });
    }
  }

  .action_options {
    margin-bottom: 30px;

    .option {

      .phones({
        margin-bottom: 20px;
        text-align: center;
      });

      span {
        display: block;
        .PTSerif;
        font-size: 29px;
        line-height: 1;

        .tablets({
          font-size: 18px;
        });

      }

      div {
        line-height: 65px;
        .PTSerif;
        white-space: nowrap;

        .tablets({
          line-height: 34px;
        });
      }

      &.left {
        div {
          font-size: 65px;
          color: #90041e;

          .tablets({
            font-size: 34px;
          });

        }
      }

      &.old_price {

        div {
          display: inline-block;
          position: relative;
          font-size: 50px;

          .tablets({
            font-size: 30px;
          });

          &:after {
            content: '';
            display: block;
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: url(../images/old_price.png) 0 0 no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
          }

        }
      }

      &.new_price {
        div {
          background-color: #ffe400;
          font-size: 59px;
          padding: 0 10px;
          margin-top: 20px;
          margin-left: -10px;
          display: inline-block;

          .tablets({
            font-size: 30px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 10px;
          });

        }
      }
    }
  }

  .countdown-section {
    display: inline-block;
    .PTSerif;
    color: #000000;
    padding-right: 25px;
    text-align: center;
    position: relative;

    &:after {
      content: ':';
      display: block;
      position: absolute;
      right: 2px;
      top: -5px;
      font-size: 65px;
      line-height: 1;

      .phones({
        font-size: 34px;
        top: 5px;
        right: 5px;
      });

    }

    &:last-child {
      padding-right: 0;
      &:after {
        display: none;
      }
    }

    .countdown-amount {
      display: block;
      font-size: 65px;
      line-height: 1;

      .phones({
        font-size: 34px;
      });
    }

    .countdown-period {
      display: block;
      font-size: 18px;
      text-transform: lowercase;
      line-height: 1;

      .phones({
        font-size: 16px;
      });

    }
  }


  .description {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;

    .phones({
      line-height: 1.3;
    });
  }
}


