@import url(https://fonts.googleapis.com/css?family=PT+Serif);
.shadow_none {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* fonts */
@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proxima_nova_bold-webfont.eot');
  src: url('../fonts/proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima_nova_bold-webfont.woff2') format('woff2'), url('../fonts/proxima_nova_bold-webfont.woff') format('woff'), url('../fonts/proxima_nova_bold-webfont.ttf') format('truetype'), url('../fonts/proxima_nova_bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proxima_nova_extrabold-webfont.eot');
  src: url('../fonts/proxima_nova_extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima_nova_extrabold-webfont.woff2') format('woff2'), url('../fonts/proxima_nova_extrabold-webfont.woff') format('woff'), url('../fonts/proxima_nova_extrabold-webfont.ttf') format('truetype'), url('../fonts/proxima_nova_extrabold-webfont.svg#proxima_nova_thextrabold') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proxima_nova_light-webfont.eot');
  src: url('../fonts/proxima_nova_light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima_nova_light-webfont.woff2') format('woff2'), url('../fonts/proxima_nova_light-webfont.woff') format('woff'), url('../fonts/proxima_nova_light-webfont.ttf') format('truetype'), url('../fonts/proxima_nova_light-webfont.svg#proxima_nova_ltlight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proxima_nova_light_italic-webfont.eot');
  src: url('../fonts/proxima_nova_light_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima_nova_light_italic-webfont.woff2') format('woff2'), url('../fonts/proxima_nova_light_italic-webfont.woff') format('woff'), url('../fonts/proxima_nova_light_italic-webfont.ttf') format('truetype'), url('../fonts/proxima_nova_light_italic-webfont.svg#proxima_novalight_italic') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proxima_nova_semibold-webfont.eot');
  src: url('../fonts/proxima_nova_semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima_nova_semibold-webfont.woff2') format('woff2'), url('../fonts/proxima_nova_semibold-webfont.woff') format('woff'), url('../fonts/proxima_nova_semibold-webfont.ttf') format('truetype'), url('../fonts/proxima_nova_semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
.PTSerif {
  font-family: 'PT Serif', serif;
}
.proximaNova {
  font-family: 'proxima_nova', Arial, Verdana, sans-serif;
}
.fontAwesome {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
}
.bodyFont {
  font-family: 'proxima_nova', Arial, Verdana, sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}
/* end fonts */
/* responsive rules */
/* end responsive rules */
html {
  height: 100%;
}
html * {
  max-height: 999999px;
}
body {
  font-family: 'proxima_nova', Arial, Verdana, sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  background-color: #ffffff;
  padding-right: 0 !important;
  overflow: auto;
  height: 100%;
}
/* unset bs3 setting */
.modal-open {
  overflow: auto;
}
a {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  outline: 0;
}
a:active,
a:focus {
  outline: 0;
}
img {
  border: 0;
}
p:last-child {
  margin-bottom: 0;
}
.clear {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both !important;
  height: 0;
}
* html .clearfix {
  position: relative;
  zoom: 1;
}
* + html .clearfix {
  position: relative;
  zoom: 1;
}
#header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #ffffff;
  z-index: 500;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 767px) {
  #header {
    position: relative;
  }
}
#container {
  padding-top: 100px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  #container {
    padding-top: 0;
  }
}
.header_content,
.footer_content {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.header_content:before,
.footer_content:before,
.header_content:after,
.footer_content:after {
  content: " ";
  display: table;
}
.header_content:after,
.footer_content:after {
  clear: both !important;
  height: 0;
}
* html .header_content,
* html .footer_content {
  position: relative;
  zoom: 1;
}
* + html .header_content,
* + html .footer_content {
  position: relative;
  zoom: 1;
}
.header_content .logo,
.footer_content .logo {
  text-indent: -100000px;
  background: url(../images/logo.png) 0 0 no-repeat;
  width: 141px;
  height: 57px;
  float: left;
  margin: 20px 0;
}
.header_content .city,
.footer_content .city {
  float: left;
  background: url(../images/sep.png) 0 0 no-repeat;
  height: 41px;
  line-height: 41px;
  font-family: 'PT Serif', serif;
  font-size: 18px;
  padding-left: 17px;
  margin: 30px 0 30px 17px;
}
.header_content .phones,
.footer_content .phones {
  float: right;
  margin: 20px 0;
  padding-left: 55px;
  background: url(../images/icon_phone.png) 0 50% no-repeat;
}
@media screen and (max-width: 767px) {
  .header_content .phones,
  .footer_content .phones {
    clear: left;
    padding-left: 0;
    float: none;
    background: none;
  }
}
.header_content .phones div,
.footer_content .phones div {
  font-weight: bold;
  font-size: 26px;
  line-height: 1;
  margin-bottom: 5px;
}
@media screen and (max-width: 767px) {
  .header_content .phones div,
  .footer_content .phones div {
    font-size: 18px;
  }
}
.header_content .phones div:last-child,
.footer_content .phones div:last-child {
  margin-bottom: 0;
}
.header_content .phones div span,
.footer_content .phones div span {
  font-size: 12px;
}
.section {
  width: 100%;
}
.section .section_container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section .section_title {
  font-family: 'PT Serif', serif;
  font-size: 48px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .section .section_title {
    font-size: 24px;
    text-align: center;
    line-height: 1.2;
  }
}
.section .section_description {
  line-height: 1.6;
}
.section.section01 {
  min-height: 727px;
  background: #fff url(../images/layer01.jpg) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.section.section01 .section_container {
  padding-top: 90px;
  padding-bottom: 90px;
  color: #ffffff;
}
@media screen and (max-width: 991px) {
  .section.section01 .section_container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.section.section01 .section_description {
  font-size: 17px;
  margin-bottom: 30px;
}
.section.section02 {
  min-height: 1029px;
  background: #e9e9ea url(../images/layer02.jpg) 50% 100% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.section.section02 .section_container {
  padding-top: 125px;
  padding-bottom: 140px;
}
@media screen and (max-width: 991px) {
  .section.section02 .section_container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.section.section03 {
  min-height: 511px;
  background: #5e5e5e url(../images/layer03.jpg) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.section.section03 .section_container {
  padding-top: 90px;
  padding-bottom: 100px;
  color: #ffffff;
}
@media screen and (max-width: 991px) {
  .section.section03 .section_container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.section.section03 .section_title {
  margin-bottom: 70px;
}
@media screen and (max-width: 767px) {
  .section.section03 .section_title {
    margin-bottom: 30px;
  }
}
.section.section03 a {
  color: #ffffff;
  text-decoration: underline;
}
.section.section03 a:hover {
  color: #ffffff;
  text-decoration: none;
}
.section.section04 {
  min-height: 821px;
  background: #fff url(../images/layer04.jpg) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.section.section04 .section_container {
  padding-top: 90px;
  padding-bottom: 50px;
}
@media screen and (max-width: 991px) {
  .section.section04 .section_container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.section.section04 .section_title {
  font-size: 42px;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .section.section04 .section_title {
    font-size: 24px;
  }
}
.section.section04 .section_description {
  color: #767676;
  margin-bottom: 60px;
  font-size: 17px;
}
@media screen and (max-width: 767px) {
  .section.section04 .section_description {
    margin-bottom: 30px;
  }
}
.section.section04 .section_description p {
  margin-bottom: 1.5em;
}
.section.section04 .section_description p:last-child {
  margin-bottom: 0;
}
.section.section05 {
  min-height: 511px;
  background: #fbfbfb url(../images/wb57.jpg) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.section.section05 .section_container {
  padding-top: 90px;
  padding-bottom: 40px;
}
@media screen and (max-width: 991px) {
  .section.section05 .section_container {
    padding-top: 40px;
  }
}
.section.section05 .section_title {
  font-size: 42px;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .section.section05 .section_title {
    font-size: 24px;
  }
}
.section.section06 {
  min-height: 523px;
  background: #a80b0b url(../images/layer06.jpg) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.section.section06 .section_container {
  padding-top: 90px;
  padding-bottom: 40px;
  color: #ffffff;
}
@media screen and (max-width: 991px) {
  .section.section06 .section_container {
    padding-top: 40px;
  }
}
.section.section06 .section_container .section_title {
  margin-bottom: 60px;
}
@media screen and (max-width: 991px) {
  .section.section06 .section_container .section_title {
    margin-bottom: 30px;
  }
}
.section.section06 .section_container .section_description {
  font-size: 17px;
  margin-bottom: 40px;
}
@media screen and (max-width: 991px) {
  .section.section06 .section_container .section_description {
    margin-bottom: 30px;
  }
}
.section.section06 .section_container .contact_phones {
  background: url(../images/icon_phone_white.png) 0 50% no-repeat;
  padding-left: 55px;
  margin-bottom: 50px;
}
@media screen and (max-width: 991px) {
  .section.section06 .section_container .contact_phones {
    margin-bottom: 30px;
  }
}
.section.section06 .section_container .contact_phones div {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 26px;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .section.section06 .section_container .contact_phones div {
    font-size: 18px;
  }
}
.section.section06 .section_container .contact_phones div span {
  font-size: 12px;
}
.section.section06 .section_container .contact_phones div:last-child {
  margin-bottom: 0;
}
.section.section06 .section_container .contact_address {
  background: url(../images/icon_place.png) 0 50% no-repeat;
  padding-left: 55px;
  margin-bottom: 30px;
}
.section.section06 .section_container .contact_address div {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 26px;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .section.section06 .section_container .contact_address div {
    font-size: 18px;
  }
}
.section.section06 .section_container .contact_address div span {
  font-size: 12px;
}
.section.section06 .section_container .contact_address div:last-child {
  margin-bottom: 0;
}
.section.section_testimonials .section_title {
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 70px;
}
@media screen and (max-width: 991px) {
  .section.section_testimonials .section_title {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .section.section_testimonials .section_title {
    font-size: 24px;
  }
}
.section.section_testimonials .section_container {
  padding-top: 90px;
  padding-bottom: 90px;
}
@media screen and (max-width: 991px) {
  .section.section_testimonials .section_container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.section.section_form {
  background-color: #e8e7e8;
  background-image: -webkit-linear-gradient(to bottom, #ffffff, #dddcdd);
  background-image: -o-linear-gradient(to bottom, #ffffff, #dddcdd);
  background-image: linear-gradient(to bottom, #ffffff, #dddcdd);
  border-bottom: 7px solid #bfbfbf;
}
.section.section_form .section_container {
  padding-top: 40px;
  padding-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .section.section_form .section_container {
    padding-top: 20px;
  }
}
.form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 14px;
  height: 33px;
  background-color: #dcdcdc;
  padding: 6px 12px 5px 12px;
}
.form-control::-webkit-input-placeholder {
  color: #7f7f7f;
}
.form-control::-moz-placeholder {
  color: #7f7f7f;
}
.form-control:-moz-placeholder {
  color: #7f7f7f;
}
.form-control:-ms-input-placeholder {
  color: #7f7f7f;
}
.form-control:input-placeholder {
  color: #7f7f7f;
}
.reg_form_hor .title {
  font-family: 'PT Serif', serif;
  font-size: 20px;
  line-height: 1.1;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .reg_form_hor .title {
    text-align: center;
  }
}
.reg_form_hor label,
.reg_form_hor .control-label {
  display: none;
}
.reg_form_hor .buttons {
  text-align: center;
}
.reg_form_vert {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding-bottom: 8px;
  background-color: #bfbfbf;
  -webkit-box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.5);
  max-width: 330px;
  margin: 0 auto;
}
.reg_form_vert .reg_form_inner {
  padding: 40px 38px 30px 38px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: inset 0 0 10px #fff;
  -moz-box-shadow: inset 0 0 10px #fff;
  box-shadow: inset 0 0 10px #fff;
  background-color: #e8e7e8;
  background-image: -webkit-linear-gradient(to bottom, #ffffff, #dddcdd);
  background-image: -o-linear-gradient(to bottom, #ffffff, #dddcdd);
  background-image: linear-gradient(to bottom, #ffffff, #dddcdd);
}
@media screen and (max-width: 767px) {
  .reg_form_vert .reg_form_inner {
    padding-left: 17px;
    padding-right: 17px;
  }
}
.reg_form_vert label,
.reg_form_vert .control-label {
  display: none;
}
.reg_form_vert .form-group {
  margin-bottom: 28px;
}
.reg_form_vert .buttons {
  margin-top: -10px;
  text-align: center;
}
.button {
  background: url(../images/button.png) 0 0 no-repeat;
  width: 256px;
  height: 82px;
  line-height: 82px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.38);
  font-weight: 600;
  font-size: 17px;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  margin: 0;
  text-decoration: none;
}
.button:hover {
  opacity: 0.8;
  color: #ffffff;
  text-decoration: none;
}
.button:active,
.button:focus {
  color: #ffffff;
  text-decoration: none;
}
.tabs_wrapper .tab {
  display: none;
}
.tabs_wrapper .tab:before,
.tabs_wrapper .tab:after {
  content: " ";
  display: table;
}
.tabs_wrapper .tab:after {
  clear: both !important;
  height: 0;
}
* html .tabs_wrapper .tab {
  position: relative;
  zoom: 1;
}
* + html .tabs_wrapper .tab {
  position: relative;
  zoom: 1;
}
.tabs_wrapper .tab .description {
  margin-bottom: 30px;
}
.tabs_wrapper .tab .description:before,
.tabs_wrapper .tab .description:after {
  content: " ";
  display: table;
}
.tabs_wrapper .tab .description:after {
  clear: both !important;
  height: 0;
}
* html .tabs_wrapper .tab .description {
  position: relative;
  zoom: 1;
}
* + html .tabs_wrapper .tab .description {
  position: relative;
  zoom: 1;
}
.tabs_wrapper .tab .description img {
  float: left;
}
@media screen and (max-width: 991px) {
  .tabs_wrapper .tab .description img {
    float: none;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
  }
}
.tabs_wrapper .tab .description .desc {
  margin-left: 400px;
  color: #393939;
}
@media screen and (max-width: 991px) {
  .tabs_wrapper .tab .description .desc {
    margin-left: 0;
  }
}
.tabs_wrapper .tabs_nav {
  margin-left: 6px;
  position: relative;
  margin-bottom: 45px;
}
.tabs_wrapper .tabs_nav:before,
.tabs_wrapper .tabs_nav:after {
  content: " ";
  display: table;
}
.tabs_wrapper .tabs_nav:after {
  clear: both !important;
  height: 0;
}
* html .tabs_wrapper .tabs_nav {
  position: relative;
  zoom: 1;
}
* + html .tabs_wrapper .tabs_nav {
  position: relative;
  zoom: 1;
}
@media screen and (max-width: 767px) {
  .tabs_wrapper .tabs_nav {
    margin-left: 0;
    border-bottom: 4px solid #0f6796;
    margin-bottom: 20px;
  }
}
.tabs_wrapper .tabs_nav li {
  float: left;
  position: relative;
  z-index: 1;
  margin-right: 15px;
  top: -2px;
}
@media screen and (max-width: 767px) {
  .tabs_wrapper .tabs_nav li {
    margin-right: 5px;
    top: 0;
  }
}
.tabs_wrapper .tabs_nav li.line {
  position: absolute;
  right: 0;
  left: 6px;
  bottom: 0;
  height: 4px;
  background-color: #0f6796;
  z-index: 200;
  top: auto;
}
@media screen and (max-width: 767px) {
  .tabs_wrapper .tabs_nav li.line {
    display: none;
  }
}
.tabs_wrapper .tabs_nav li.active {
  z-index: 100;
  top: 0;
}
.tabs_wrapper .tabs_nav li.active a {
  background: url(../images/tab_selected.png) 0 0 no-repeat;
  line-height: 76px;
  padding-top: 0;
  color: #ffffff;
}
.tabs_wrapper .tabs_nav li.active a:after {
  background: url(../images/tab_selected_right.png) 0 0 no-repeat;
}
@media screen and (max-width: 767px) {
  .tabs_wrapper .tabs_nav li.active a {
    background-image: none;
    background-color: #48a7d8;
    background-image: -webkit-linear-gradient(to bottom, #66bdea, #3397cb);
    background-image: -o-linear-gradient(to bottom, #66bdea, #3397cb);
    background-image: linear-gradient(to bottom, #66bdea, #3397cb);
    line-height: 30px;
  }
}
.tabs_wrapper .tabs_nav li:first-child {
  margin-left: -6px;
}
@media screen and (max-width: 767px) {
  .tabs_wrapper .tabs_nav li:first-child {
    margin-left: 0;
  }
}
.tabs_wrapper .tabs_nav li a {
  background: url(../images/tab.png) 0 0 no-repeat;
  font-family: 'PT Serif', serif;
  font-size: 27px;
  display: inline-block;
  height: 78px;
  line-height: 76px;
  padding-top: 2px;
  text-transform: uppercase;
  padding-left: 35px;
  padding-right: 15px;
  position: relative;
  color: #000000;
  text-decoration: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.tabs_wrapper .tabs_nav li a:after {
  content: '';
  display: block;
  position: absolute;
  background: url(../images/tab_right.png) 0 0 no-repeat;
  width: 42px;
  height: 78px;
  right: -42px;
  top: 0;
}
@media screen and (max-width: 767px) {
  .tabs_wrapper .tabs_nav li a:after {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .tabs_wrapper .tabs_nav li a {
    background-image: none;
    background-color: #ececec;
    background-image: -webkit-linear-gradient(to bottom, #fefefe, #dedede);
    background-image: -o-linear-gradient(to bottom, #fefefe, #dedede);
    background-image: linear-gradient(to bottom, #fefefe, #dedede);
    height: 30px;
    padding-top: 0;
    line-height: 30px;
    font-size: 16px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    padding-right: 10px;
  }
}
.options_wrapper .title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 30px;
}
.options_wrapper .option_content {
  display: none;
}
.options_wrapper .options_nav {
  max-width: 370px;
  width: 100%;
  float: left;
  margin-right: 35px;
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  .options_wrapper .options_nav {
    float: none;
    margin-right: 0;
  }
}
.options_wrapper .options_nav li {
  width: 100%;
  margin-bottom: 6px;
  border-bottom: 3px solid #bfbfc0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.options_wrapper .options_nav li a {
  display: block;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  -moz-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff;
  background-color: #ececec;
  background-image: -webkit-linear-gradient(to bottom, #fefefe, #dedede);
  background-image: -o-linear-gradient(to bottom, #fefefe, #dedede);
  background-image: linear-gradient(to bottom, #fefefe, #dedede);
  color: #000000;
  position: relative;
  text-decoration: none;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  padding: 15px 25px;
}
.options_wrapper .options_nav li a:after {
  content: '\f105';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  position: absolute;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  top: 50%;
  margin-top: -18px;
  color: #3497cc;
}
.options_wrapper .options_nav li a:hover {
  background-color: #ececec;
  background-image: -webkit-linear-gradient(to top, #fefefe, #dedede);
  background-image: -o-linear-gradient(to top, #fefefe, #dedede);
  background-image: linear-gradient(to top, #fefefe, #dedede);
}
.options_wrapper .options_nav li.active {
  border-bottom: 4px solid #0f6796;
  background-color: #0f6796;
}
.options_wrapper .options_nav li.active a {
  border: none;
  color: #ffffff;
  background-color: #48a7d8;
  background-image: -webkit-linear-gradient(to bottom, #66bdea, #3397cb);
  background-image: -o-linear-gradient(to bottom, #66bdea, #3397cb);
  background-image: linear-gradient(to bottom, #66bdea, #3397cb);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.options_wrapper .options_nav li.active a:after {
  color: #ffffff;
}
.options_wrapper .options_nav li.active a:hover {
  background-color: #48a7d8;
  background-image: -webkit-linear-gradient(to bottom, #66bdea, #3397cb);
  background-image: -o-linear-gradient(to bottom, #66bdea, #3397cb);
  background-image: linear-gradient(to bottom, #66bdea, #3397cb);
}
.options_wrapper .option_content {
  float: left;
}
@media screen and (max-width: 991px) {
  .options_wrapper .option_content {
    float: none;
  }
}
.options_wrapper .option_content img {
  max-width: 100%;
  display: block;
}
.how {
  margin-bottom: 0;
}
.how:before,
.how:after {
  content: " ";
  display: table;
}
.how:after {
  clear: both !important;
  height: 0;
}
* html .how {
  position: relative;
  zoom: 1;
}
* + html .how {
  position: relative;
  zoom: 1;
}
.how li {
  float: left;
  width: 170px;
  margin-right: 30px;
  position: relative;
  font-weight: bold;
  text-align: center;
  padding-top: 125px;
}
@media screen and (max-width: 991px) {
  .how li {
    margin-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  .how li {
    margin-right: 0;
    float: none;
    margin-bottom: 20px;
    width: 100%;
  }
}
.how li:nth-child(1) {
  background: url(../images/how1.png) 50% 0 no-repeat;
}
.how li:nth-child(2) {
  background: url(../images/how2.png) 50% 0 no-repeat;
}
.how li:nth-child(2):after {
  height: 24px;
  background: url(../images/arr2.png) 0 0 no-repeat;
  top: 50px;
}
.how li:nth-child(3) {
  background: url(../images/how3.png) 50% 0 no-repeat;
}
.how li:nth-child(4) {
  background: url(../images/how4.png) 50% 0 no-repeat;
}
.how li:after {
  content: '';
  display: block;
  position: absolute;
  background: url(../images/arr1.png) 0 0 no-repeat;
  width: 72px;
  height: 23px;
  top: 30px;
  right: -50px;
}
@media screen and (max-width: 991px) {
  .how li:after {
    right: -44px;
  }
}
@media screen and (max-width: 767px) {
  .how li:after {
    display: none;
  }
}
.how li:last-child {
  margin-right: 0;
}
.how li:last-child:after {
  display: none;
}
.delivery .title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 30px;
}
.delivery img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .delivery img {
    margin-left: 0;
    margin-right: 0;
  }
}
.why {
  margin-bottom: 0;
}
.why:before,
.why:after {
  content: " ";
  display: table;
}
.why:after {
  clear: both !important;
  height: 0;
}
* html .why {
  position: relative;
  zoom: 1;
}
* + html .why {
  position: relative;
  zoom: 1;
}
.why li {
  width: 170px;
  margin-right: 35px;
  padding-top: 125px;
  text-align: center;
  font-weight: bold;
  float: left;
}
@media screen and (max-width: 991px) {
  .why li {
    margin-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  .why li {
    float: none;
    margin-bottom: 20px;
    width: 100%;
  }
}
.why li:last-child {
  margin-right: 0;
}
.why li:nth-child(1) {
  background: url(../images/why1.png) 50% 0 no-repeat;
}
.why li:nth-child(2) {
  background: url(../images/why2.png) 50% 0 no-repeat;
}
.why li:nth-child(3) {
  background: url(../images/why3.png) 50% 0 no-repeat;
}
.why li:nth-child(4) {
  background: url(../images/why4.png) 50% 0 no-repeat;
}
.testimonial {
  text-align: center;
}
.testimonial img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.testimonial .description {
  font-style: italic;
  font-size: 17px;
  margin-bottom: 20px;
}
.testimonial .name {
  font-size: 25px;
  font-family: 'PT Serif', serif;
}
.rewards {
  padding: 0 50px;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 991px) {
  .rewards {
    margin-bottom: 30px;
  }
}
.action_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 505;
  height: 10px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.23);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.23);
  background-color: #fdd64d;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .action_wrapper {
    position: relative;
  }
}
@media screen and (max-width: 991px) {
  .action_wrapper + #header {
    padding-top: 60px;
  }
}
.action_wrapper .action_button {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -115px;
  width: 230px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  height: 60px;
  line-height: 54px;
  font-size: 27px;
  background-color: #fcd449;
  background-image: -webkit-linear-gradient(to bottom, #fcd449, #efc223);
  background-image: -o-linear-gradient(to bottom, #fcd449, #efc223);
  background-image: linear-gradient(to bottom, #fcd449, #efc223);
}
.action_wrapper .action_button a {
  line-height: 1;
  color: #ff0000;
  position: relative;
  border-bottom: 1px dashed #ff0000;
  font-family: 'PT Serif', serif;
  text-decoration: none;
}
.action_wrapper .action_button a:hover {
  text-decoration: none;
}
.action_wrapper .action_button a:active,
.action_wrapper .action_button a:focus {
  color: #ff0000;
  text-decoration: none;
}
.action_wrapper .action_button a:before,
.action_wrapper .action_button a:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  top: 5px;
  position: absolute;
}
.action_wrapper .action_button a:before {
  content: '\f101';
  left: -20px;
}
.action_wrapper .action_button a:after {
  content: '\f100';
  right: -20px;
}
.action-modal .modal-dialog {
  width: 100%;
  max-width: 870px;
}
@media screen and (max-width: 767px) {
  .action-modal .modal-dialog {
    margin: 0;
  }
}
.action-modal .modal-content {
  background-color: #bfbfbf;
  padding-bottom: 7px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .action-modal .modal-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
.action-modal .modal-body {
  background-color: #e9e8e9;
  background-image: -webkit-linear-gradient(to bottom, #ffffff, #e1e0e1);
  background-image: -o-linear-gradient(to bottom, #ffffff, #e1e0e1);
  background-image: linear-gradient(to bottom, #ffffff, #e1e0e1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 30px 40px;
}
@media screen and (max-width: 767px) {
  .action-modal .modal-body {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 20px;
  }
}
.action-modal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 10;
  font-size: 34px;
  color: #737373;
  opacity: 1;
}
.action-modal .close:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  content: '\f00d';
}
.action-modal .buttons {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .action-modal .buttons {
    text-align: center;
  }
}
.action-modal .buttons .button {
  margin-right: -5px;
}
.message_success {
  text-align: center;
}
.message_success .title {
  font-family: 'PT Serif', serif;
  font-size: 29px;
  position: relative;
}
.message_success .title:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: block;
  content: '\f00c';
  color: #04c12c;
  font-size: 74px;
  line-height: 1;
  text-align: center;
  margin: 20px 0;
}
.message_success .description {
  font-size: 18px;
  margin: 0 20px;
}
@media screen and (max-width: 767px) {
  .message_success .description {
    margin: 0;
  }
}
.message_success .description ul {
  font-weight: bold;
}
.action_description .countdown_wrapper {
  text-align: center;
  margin-bottom: 20px;
}
.action_description .countdown_wrapper .title {
  font-size: 29px;
  line-height: 1;
  font-family: 'PT Serif', serif;
}
@media screen and (max-width: 767px) {
  .action_description .countdown_wrapper .title {
    margin-bottom: 10px;
  }
}
.action_description .action_options {
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .action_description .action_options .option {
    margin-bottom: 20px;
    text-align: center;
  }
}
.action_description .action_options .option span {
  display: block;
  font-family: 'PT Serif', serif;
  font-size: 29px;
  line-height: 1;
}
@media screen and (max-width: 991px) {
  .action_description .action_options .option span {
    font-size: 18px;
  }
}
.action_description .action_options .option div {
  line-height: 65px;
  font-family: 'PT Serif', serif;
}
@media screen and (max-width: 991px) {
  .action_description .action_options .option div {
    line-height: 34px;
  }
}
.action_description .action_options .option.left div {
  font-size: 65px;
  color: #90041e;
}
@media screen and (max-width: 991px) {
  .action_description .action_options .option.left div {
    font-size: 34px;
  }
}
.action_description .action_options .option.old_price div {
  display: inline-block;
  position: relative;
  font-size: 50px;
}
@media screen and (max-width: 991px) {
  .action_description .action_options .option.old_price div {
    font-size: 30px;
  }
}
.action_description .action_options .option.old_price div:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../images/old_price.png) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.action_description .action_options .option.new_price div {
  background-color: #ffe400;
  font-size: 59px;
  padding: 0 10px;
  margin-top: 20px;
  margin-left: -10px;
  display: inline-block;
}
@media screen and (max-width: 991px) {
  .action_description .action_options .option.new_price div {
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
  }
}
.action_description .countdown-section {
  display: inline-block;
  font-family: 'PT Serif', serif;
  color: #000000;
  padding-right: 25px;
  text-align: center;
  position: relative;
}
.action_description .countdown-section:after {
  content: ':';
  display: block;
  position: absolute;
  right: 2px;
  top: -5px;
  font-size: 65px;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .action_description .countdown-section:after {
    font-size: 34px;
    top: 5px;
    right: 5px;
  }
}
.action_description .countdown-section:last-child {
  padding-right: 0;
}
.action_description .countdown-section:last-child:after {
  display: none;
}
.action_description .countdown-section .countdown-amount {
  display: block;
  font-size: 65px;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .action_description .countdown-section .countdown-amount {
    font-size: 34px;
  }
}
.action_description .countdown-section .countdown-period {
  display: block;
  font-size: 18px;
  text-transform: lowercase;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .action_description .countdown-section .countdown-period {
    font-size: 16px;
  }
}
.action_description .description {
  font-size: 18px;
  line-height: 1.6;
  margin-left: 80px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .action_description .description {
    margin-left: 0;
    line-height: 1.3;
  }
}
